<a href="https://wainroutes.co.uk" target="_blank" class="icon-link" aria-label="Wainroutes" title="Wainroutes" style="--_hover-colour: #D86E3D">
  <svg width="32" height="32" viewBox="0 0 751 751" xmlns="http://www.w3.org/2000/svg">
    <mask id="mask0_7_16" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-17" y="-15" width="785" height="759">
      <path d="M375.5 206.5L643.02 743.5H768V-15H-17V743.5H107.979L375.5 206.5Z" />
    </mask>
    <g mask="url(#mask0_7_16)">
      <circle cx="376" cy="376" r="372" fill="currentColor"/>
    </g>
  </svg>
  <!-- <svg width="32" height="32" viewBox="0 0 839 839" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M422.384 68C95.3844 68 -98.1156 480 191.884 729.5L422.384 262.5L648.884 729.5C954.384 433.5 709.884 68 422.384 68Z" stroke="currentColor" stroke-width="88" stroke-linejoin="round"/>
  </svg> -->
</a>