.project {
  display: grid;
  gap: 1.5lh;

  max-width: min(74ch, 90%);
  margin-inline: auto;

  & h2 {
    font-size: var(--fs-medium);
    font-weight: 800;
  }
}

.project-image {
  max-width: 100%;
  height: fit-content;
  object-fit: scale-down;
}

.project-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2lh;

  @media (max-width: 35rem) {
    grid-template-columns: 1fr;
  }
}

.project-section {
  display: grid;
  gap: 0.5lh;
  grid-auto-rows: min-content;

  & hr {
    margin: 0;
    margin-block-start: 0.375lh;
  }
  & .project-button {
    margin-inline: auto;
  }
  & ul {
    list-style: inside;
    margin-inline-start: 1ch;
  }
}

.project-button {
  color: var(--clr-bg);
  background: var(--clr-text);

  border: 4px solid var(--clr-text);
  width: fit-content;
  font-weight: 600;

  padding-inline: 1.5ch;
  padding-block: 0.125lh;

  &:hover {
    color: var(--clr-text);
    background: none;
  }
}
