---
import GitHubIcon from "../../assets/icons/GitHubIcon.astro";
import LinkedInIcon from "../../assets/icons/LinkedInIcon.astro";
import WainroutesIcon from "../../assets/icons/WainroutesIcon.astro";

import DownCaretIcon from "../../assets/icons/DownCaretIcon.astro";
---

<section class="page-section index-header" id="hero">
  <div class="index-header-top">
    <div>
      <h1 class="title">
        <!-- <AdaptiveText text="Welcome!" /> -->
        Joe <span id="test-text">Cupit</span>
      </h1>
      <p>PhD Researcher & Web Developer</p>
    </div>
    <div class="index-header-icons">
      <GitHubIcon />
      <LinkedInIcon />
      <WainroutesIcon />
    </div>
  </div>

	<p>I'm a machine learning PhD student at the University of Manchester working on scheduling and OEE in chemical and process industries.</p>
	<p>I also love to climb mountains and created <a class="block-link" href="/project/wainroutes">Wainroutes</a> to share my progress ticking off all the 214 Wainwrights.</p>

  <button
    id="read-more-button"
    class="index-read-more"
    onclick="document.getElementById('projects').scrollIntoView({behavior: 'smooth'})"
  >
    read more
    <DownCaretIcon />
  </button>
  <script>
    const scrollButton = document.getElementById("read-more-button");
    
    const checkScroll = () => {
      if (window.scrollY > 100) {
        scrollButton?.classList.add("hide");
      }
      else {
        scrollButton?.classList.remove("hide");
      }
    }

    window.addEventListener("scroll", checkScroll);
    checkScroll()
  </script>

<script>

    const prefersReducedMotion = window.matchMedia("(prefers-reduced-motion: reduce)").matches;
    const text = document.getElementById("test-text");
    let isAnimating = false

    const textAnimation = (target: HTMLElement, normal: string, alternate: string) => {
        if (!target) return;

        let time = 0;
        const step = (fn: CallableFunction, delay: number) => {
            time += delay;
            setTimeout(fn, time);
        }

        const jitter = (base: number, around: number = 10) => {
            const offset = Math.floor(Math.random() * (around * 2 + 1)) - around;
            return base + offset;
        };

        const typeText = (str: string, speed: number) => {
            for (let i=1; i<= str.length; i++) {
                step(() => target.innerText = str.slice(0, i), jitter(speed, 10));
            }
        }

        const deleteText = (str: string, speed: number) => {
            for (let i=str.length; i>=0; i--) {
                step(() => target.innerText = str.slice(0, i), jitter(speed, 10));
            }
        }

        // delete original
        deleteText(normal, 120);
        step(() => {}, 250);

        // type new
        typeText(alternate, 160);
        step(() => target.classList.add("error"), -150);
        
        // pause
        step(() => {}, 1500);

        // delete new
        deleteText(alternate, 130);
        step(() => target.classList.remove("error"), 250);

        // type original
        typeText(normal, 120);

        step(() => isAnimating = false, 500);
    }

    const doAnimation = () => {
        if (!isAnimating && !prefersReducedMotion && text) {
            isAnimating = true;
            textAnimation(text, "Cupit", "/kju-pɪt/")
        }
    }

    setTimeout(doAnimation, 1000);
    document.getElementById("test-text")?.addEventListener("mouseover", doAnimation)
</script>
</section>
