---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="page-section">
        <p style="text-transform: lowercase;">Page not found - go <a class="underlined-link" href="/">back to home</a>.</p>
    </section>
</Layout>